% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

% Common project dependencies.
{deps, [
    {erl_health, {git, "https://github.com/valitydev/erlang-health.git", {branch, master}}},
    {genlib, {git, "https://github.com/valitydev/genlib.git", {branch, "master"}}},
    {cowboy_draining_server, {git, "https://github.com/valitydev/cowboy_draining_server.git", {branch, "master"}}},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
    {scoper, {git, "https://github.com/valitydev/scoper.git", {branch, "master"}}},
    {thrift, {git, "https://github.com/valitydev/thrift_erlang.git", {branch, "master"}}},
    {woody, {git, "https://github.com/valitydev/woody_erlang.git", {branch, "master"}}},
    {erl_health, {git, "https://github.com/valitydev/erlang-health.git", {branch, "master"}}},
    {dmt_client, {git, "https://github.com/valitydev/dmt_client.git", {branch, master}}},
    {damsel, {git, "https://github.com/valitydev/damsel.git", {branch, "master"}}},
    {identdocstore_proto, {git, "https://github.com/valitydev/identdocstore-proto.git", {branch, "master"}}},
    {fistful_proto, {git, "https://github.com/valitydev/fistful-proto.git", {branch, "master"}}},
    {fistful_reporter_proto, {git, "https://github.com/valitydev/fistful-reporter-proto.git", {branch, "master"}}},
    {file_storage_proto, {git, "https://github.com/valitydev/file-storage-proto.git", {branch, "master"}}},
    {bender_client, {git, "https://github.com/valitydev/bender_client_erlang.git", {branch, "master"}}},
    {bender_proto, {git, "https://github.com/valitydev/bender-proto.git", {branch, "master"}}},
    {lechiffre, {git, "https://github.com/valitydev/lechiffre.git", {branch, "master"}}},
    {cowboy_cors, {git, "https://github.com/valitydev/cowboy_cors.git", {branch, master}}},
    {cowboy_access_log, {git, "https://github.com/valitydev/cowboy_access_log.git", {branch, "master"}}},
    {bouncer_proto, {git, "https://github.com/valitydev/bouncer-proto.git", {branch, "master"}}},
    {bouncer_client, {git, "https://github.com/valitydev/bouncer_client_erlang.git", {branch, "master"}}},
    {token_keeper_client, {git, "https://github.com/valitydev/token-keeper-client.git", {branch, master}}},
    {uac, {git, "https://github.com/valitydev/erlang_uac.git", {branch, master}}},

    %% Libraries generated with swagger-codegen-erlang from valitydev/swag-wallets
    {swag_server_wallet,
        {git, "https://github.com/valitydev/swag-wallets", {branch, "release/erlang/wallet-server/v0"}}},
    {swag_client_wallet,
        {git, "https://github.com/valitydev/swag-wallets", {branch, "release/erlang/wallet-client/v0"}}},

    %% NOTE
    %% Remove once bouncer client deps are updated
    {org_management_proto, {git, "https://github.com/valitydev/org-management-proto.git", {branch, master}}},
    %% NOTE
    %% Pinning to version "1.11.2" from hex here causes constant upgrading and recompilation of the entire project
    {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.11.2"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {deps, [
            % NOTE
            % Because of a dependency conflict, prometheus libs are only included in production build for now
            % https://github.com/project-fifo/rebar3_lint/issues/42
            % https://github.com/valitydev/hellgate/pull/2/commits/884724c1799703cee4d1033850fe32c17f986d9e
            {prometheus, "4.8.1"},
            {prometheus_cowboy, "0.1.8"},
            % Introspect a node running in production
            {recon, "2.5.2"},
            {logger_logstash_formatter,
                {git, "https://github.com/valitydev/logger_logstash_formatter.git", {ref, "2c7b716"}}},
            {iosetopts, {git, "https://github.com/valitydev/iosetopts.git", {ref, "edb445c"}}}
        ]},
        {relx, [
            {release, {'wapi-v0', "0.1.0"}, [
                iosetopts,
                % debugger
                {runtime_tools, load},
                % profiler
                {tools, load},
                {recon, load},
                {logger_logstash_formatter, load},
                prometheus,
                prometheus_cowboy,
                sasl,
                wapi
            ]},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {mode, minimal},
            {extended_start_script, true},
            %% wapi
            {overlay, [
                {mkdir, "var/keys/wapi"},
                {copy, "apps/wapi/var/keys/wapi/private.pem", "var/keys/wapi/private.pem"}
            ]}
        ]}
    ]},

    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]},
        {cover_enabled, true},
        {cover_excl_apps, [
            swag_client_payres,
            swag_client_wallet,
            swag_server_wallet
        ]},
        {dialyzer, [{plt_extra_apps, [eunit, common_test, meck, swag_client_wallet]}]}
    ]}
]}.

{plugins, [
    {rebar3_lint, "1.0.1"},
    {erlfmt, "1.0.0"},
    {covertool, "2.0.4"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, [
        "apps/wapi*/{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "elvis.config",
        "config/sys.config",
        "test/*/sys.config"
    ]}
]}.

{covertool, [
    {coverdata_files, [
        "eunit.coverdata",
        "ct.coverdata"
    ]}
]}.
