%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

% Common project dependencies.
{deps, [
    {genlib, {git, "https://github.com/valitydev/genlib.git", {branch, "master"}}},
    {uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
    {scoper, {git, "https://github.com/valitydev/scoper.git", {branch, "master"}}},
    {thrift, {git, "https://github.com/valitydev/thrift-erlang.git", {branch, "master"}}},
    {woody, {git, "https://github.com/valitydev/woody_erlang.git", {branch, "master"}}},
    {dmt_client, {git, "https://github.com/valitydev/dmt-client.git", {branch, master}}},
    {damsel, {git, "https://github.com/valitydev/damsel.git", {branch, "master"}}},
    {identdocstore_proto, {git, "https://github.com/valitydev/identdocstore-proto.git", {branch, "master"}}},
    {fistful_proto, {git, "https://github.com/valitydev/fistful-proto.git", {branch, "master"}}},
    {fistful_reporter_proto, {git, "https://github.com/valitydev/fistful-reporter-proto.git", {branch, "master"}}},
    {file_storage_proto, {git, "https://github.com/valitydev/file-storage-proto.git", {branch, "master"}}},
    {bender_client, {git, "https://github.com/valitydev/bender-client-erlang.git", {branch, "master"}}},
    {bender_proto, {git, "https://github.com/valitydev/bender-proto.git", {branch, "master"}}},
    {lechiffre, {git, "https://github.com/valitydev/lechiffre.git", {branch, "master"}}},
    {bouncer_proto, {git, "https://github.com/valitydev/bouncer-proto.git", {branch, "master"}}},
    {bouncer_client, {git, "https://github.com/valitydev/bouncer-client-erlang", {branch, "master"}}},
    {token_keeper_client, {git, "https://github.com/valitydev/token-keeper-client.git", {branch, master}}},
    {uac, {git, "https://github.com/valitydev/erlang_uac.git", {branch, master}}},
    {tds_proto, {git, "https://github.com/valitydev/tds-proto.git", {branch, master}}},
    {opentelemetry_api, "1.2.1"},

    %% NOTE
    %% Pinning to version "1.11.2" from hex here causes constant upgrading and recompilation of the entire project
    {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.11.2"}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.
% at will
% {xref_warnings, true}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        %race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [
        {deps, [
            %% Libraries generated with swagger-codegen-erlang from valitydev/swag-wallets
            {swag_server_wallet, {git, "https://github.com/valitydev/swag-wallets", {ref, "f0dbd57"}}},
            {swag_client_wallet, {git, "https://github.com/valitydev/swag-wallets", {ref, "e4cda25"}}},
            {meck, "0.9.2"}
        ]},
        {cover_enabled, true},
        {cover_excl_apps, [
            swag_client_wallet,
            swag_server_wallet
        ]},
        {dialyzer, [{plt_extra_apps, [eunit, common_test, meck, swag_client_wallet, swag_server_wallet]}]}
    ]}
]}.

{project_plugins, [
    {rebar3_lint, "1.0.1"},
    {erlfmt, "1.0.0"},
    {covertool, "2.0.4"}
]}.

%% Linter config.
{elvis_output_format, colors}.

{erlfmt, [
    {print_width, 120},
    {files, ["{src,include,test}/*.{hrl,erl}", "rebar.config", "elvis.config"]}
]}.

{covertool, [
    {coverdata_files, [
        "eunit.coverdata",
        "ct.coverdata"
    ]}
]}.
